doctype html
html
  head
    meta(charset="utf-8")
    title 爱笑网-让你每天都爱笑
    <meta name="hotcss" content="initial-dpr=1;max-width=640" />
    include tpl/_flex.pug
    link(rel="stylesheet" href=assetsObject['css/ixiao.css'])
  body
    div#root
      div !{html}
    script.
      window.__INITIAL_STATE__ = !{initState};
    script(src=assetsObject['js/framework.js'])
    script(src=assetsObject['js/ixiao.js'])
